<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExpandedPaths</key>
	<array>
		<string></string>
	</array>
	<key>HideUnmodified</key>
	<true/>
	<key>VSplitterPos</key>
	<integer>375</integer>
	<key>WindowFrame</key>
	<string>295 146 1140 975 0 0 1920 1178 </string>
</dict>
</plist>
